/* Custom Stylesheet */
nav ul a,
nav .brand-logo {
  color: #444;
}
p {
  line-height: 2rem;
}
.button-collapse {
  color: #26a69a;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
.col.s12.m6.l3{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
footer.page-footer {
  margin: 0;
}
.col.s12.m6.l3{
  background: url(../img/ajax-loader.gif);
  background-position: center 100px;
  background-repeat: no-repeat;
}
.col.s12.m6.l3 img{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0.1;
}
.col.s12.m6.l3 img.showit{
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 9.9;
}
.product img{
  cursor: pointer;
  width: 90%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.product img:hover{
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-transform: scale(1.4) rotate(5deg);
  -webkit-transform: scale(1.4) rotate(5deg);
  -o-transform: scale(1.4) rotate(5deg);
  -ms-transform: scale(1.4) rotate(5deg);
  transform: scale(1.4) rotate(5deg);
}
.product img.zoom{
   -moz-transform: scale(1.4) rotate(-5deg);
  -webkit-transform: scale(1.4) rotate(-5deg);
  -o-transform: scale(1.4) rotate(-5deg);
  -ms-transform: scale(1.4) rotate(-5deg);
  transform: scale(1.4) rotate(-5deg);
}
.product .icon-block{
  text-align: center;
  min-height: 331px;
}
.add {
  margin-top: -122px;
  text-align: right;
  padding-right: 20px;
  margin-bottom: 40px;
}
.price {
  font-size: 30px;
  color: #F44336;
  margin-bottom: 5px;
  margin-top: -13px;
  padding-bottom: 20px;
  padding-top: 11px;
}
.title-section{
  border-bottom: 1px solid #ccc;
  padding-bottom: 13px;
  width: 70%;
  margin: auto;
  margin-bottom: 52px;
}
.full{width: 100%}
.info-cart{
  width: 100px;
  opacity: 0.0;
  position: absolute;
  margin-top: -64px;
  margin-left: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.show{
  width: 60px;
  opacity: 0.9;
  -webkit-transform: rotate(-720deg);
  -moz-transform: rotate(-720deg);
  -o-transform: rotate(-720deg);
  -ms-transform: rotate(-720deg);
  transform: rotate(-720deg);
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
img#img-large {
  width: 100%;
}
img.cart-tmb{
  width: 20%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
img.cart-tmb.move{
  width: 85%;
  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.row.row-cart {
  padding-right: 23px;
  border-bottom: 1px solid #CBCBCB;
  color: red;
  height: 100px;
}
a.nw.waves-effect.waves-light.btn-large.red.full.smoothScroll {
  color: #fff;
}
.row.row-cart h6{color:#000;}
.row-cart .s6{text-align: center;}
.button-collapse {
  color: #F44336;
}
.t-shirt{
  display: none;
}
.cart-link{
  float: left;
}
.more-product{
  text-align: center;
  display: block;
  margin-top: 40px;
  color: red;
  padding: 5px;
  text-transform: uppercase;
}
.y{
  color: #FCDB00;
}
.g{
  color: #ccc;
}
a.delete-cart {
  margin-top: -36px;
  float: right;
  width: 75px;
  font-size: 18px;
  color: #5a5a5a;
  height: 31px;
  padding-bottom: 20px;
  padding: 0;
  padding-top: 0;
}
